@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(196, 219, 226);
}

.nav-bar{
    background-color: teal;
    color: white;
    font-size: 32px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.input-section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.todo-box{
    background-color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 800px;
    padding: 5px 15px;
    font-size: 22px;
}